{
    email bransonfox@umsl.edu
}

apps.stldata.org {
    redir /crime /crime/
    route /crime* {
        uri strip_prefix /crime
        reverse_proxy crime-dashboard:3838
    }
    
    redir /essential-workers /essential-workers/
    route /essential-workers* {
        uri strip_prefix /essential-workers
        reverse_proxy essential-workers:80
    }

    redir /data-commons /data-commons/
    route /data-commons* {
        uri strip_prefix /data-commons
        reverse_proxy data-commons:80
    }

    root * /usr/share/caddy/
    file_server
}

app.stldata.org {
    redir https://apps.stldata.org/crime
}

stlouisdata.org {
    redir https://rdx.stldata.org
}

stlouisdata.com {
    redir https://stldata.org
}
